.intro__catalog {
    max-width: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700; 
    font-style: 400;
    padding: 32px 0 0 0;
    margin: 0;
}


