.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link:nth-of-type(2n) {
    margin-right: 0;
    text-decoration-line: none;
}