.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
      padding: 88px 24px 0 24px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
      flex-direction: column;
      padding-left: 67px;
      padding-right: 67px;
      padding-top: 64px;
    }
  }